<h1> hello</h1>

<table>
    <thead>
        <tr>
          <td>Cat name </td>
            <td> age </td>
            <td> color </td>
            <td> sex </td>
            <td> description </td>

        </tr>
    </thead>
    <tbody>
    <% @cats.each do |cat| %>
     <tr>
            <td> <%=cat.name %></td>
            <td> <%=cat.age %> </td>
             <td> <%=cat.color %> </td>
            <td> <%=cat.sex %></td>
            <td> <%=cat.description %></td>

        </tr>
 <%end %>
    </tbody>
</table>


